@font-face {
    font-family: xet;
    src: url('../fonts/xet.ttf') format('truetype');
}

html,
body {
    height: 100%;
}

body {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
form,
a,
p,
textarea {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

[v-cloak] {
    display: none;
}

/*清除浮动*/

.clearfloat {
    zoom: 1;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix {
    clear: both;
}

/** 通用样式 **/
.about-area span,
.about-area .section-title p,
.skill-section .section-title p,
.blog-area .section-title p,
.resome-area .row p,
.team-area .section-title p,
.counter-section p,
.portfolio-area p,
.service-section .section-title p{
    font-family: xet;
    font-size: 18px;
}

.education-details .icon i.iconfont, .working-details .icon i.iconfont {
    transform: rotate(-135deg);
    -ms-transform:rotate(-135deg); 	/* IE 9 */
    -moz-transform:rotate(-135deg); 	/* Firefox */
    -webkit-transform:rotate(-135deg); /* Safari 和 Chrome */
    -o-transform:rotate(-135deg); 	/* Opera */
    text-align: center;
    line-height: 40px;
}

/** 欢迎  **/

.asg-container .page-home {
    background: url(../images/hero-bg-03.jpg) center top;
    background-size: cover !important;
    background-attachment: fixed !important;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: table;
    z-index: 10;
    padding: 0;
    background-position: 50% 0px;
}

.page-home .home-text-wrapper {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    background: url(../images/pattern.png);
}

a.a-down {
    color: #fff;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -10px;
}

.animate-bounce-down {
    -webkit-animation: bounce-down 1s linear infinite;
    animation: bounce-down 1s linear infinite;
}

.home-text-wrapper .home-logo {
    margin: 30px 0 100px;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    color: #000;
}

/** 菜单 **/
.page-nav img {
    height: 60px;
}

.main-menu-wrapper {
    height: 100px;
}

.page-nav {
    height: 80px;
    background-color: #1d2024;
    color: #FFF;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-fixed {
    position: fixed;
    top: 0;
}

/** 关于 **/
.img-user {
    height: 400px;
    width: 400px;
}

.page-about {
    position: relative;
    padding: 80px 0 60px;
    box-sizing: border-box;
    width: 100%;
}

.page-about .about-title {
    text-align: center;
}

.page-about .about-title h1 {
    box-shadow: 0 0 0 3px #1C1F26;
    border: 1px #fff solid;
    font-size: 46px;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-family: xet;
    background: #1C1F26;
}

/* 精选导读 */
.service-section .single-service-box p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* banner */
.counter-section {
    position: relative;
    background-image: url(../images/banner-2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.counter-section:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 50, 56, .6)
}

.counter-section p{
    display: block;
    font-size: 22px;
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-shadow: 1px 1px 0px #CC0000;
}

